@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0%;
}

body {
    font-size: 22px;
    color: aqua;
    background-color: black;
    padding: 5%;
    font-family: monospace;
    background-image: url(../img/background\ poza\ website.jpeg);
}

html{
    scroll-behavior: smooth;
}

p {
    text-decoration: overline;
    padding: 0.6em;
    text-transform: uppercase;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.2em;
    word-spacing: 0.1em;
    font-style: italic;
}

h1,
h2,
h3,
h4 {
    color: rgba(90, 100, 400, 1.3);
}

h1,
h2,
h3,
h4 {
    border: double 10px red;
    border-right: 0px dotted blue;
    border-left: 0px;
    width: 14%;
}

a {
    cursor: pointer;
    color: orangered;
    opacity: 0.9;
}

a:hover {
    color: dodgerblue;
    background-color: red;
    opacity: 2;
}

li {
    list-style-type: upper-roman;
    text-align: left;
}

::marker {
    color: red;
    font-size: 1.5em;
}

img {
    position: absolute;
    left: 600px;
    bottom: 590px;
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
h4 {
    background-color: rgb(1, 238, 255, 0.7);
}

.CSS {
    margin-top: 5rem;
    padding-left: 30px;
    border: 5px solid red;
    font-weight: bolder;
}
.CSS p {
    font-size: 56px;
    color: orangered;
    border: 4px dashed white;
    width: 7%;
    padding: 0.3em;
    border-radius: 2rem;
    text-decoration: none;
}

.CSS img[alt] {
border: 4px solid white;
}

.paragraph2 p {
    color: aqua;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    padding: 0px;
    text-align: left;
    line-height: 14px;
    word-spacing: 3px;
}

.list li {
    list-style-type: square;
}

